@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap')

$color-bg: #282c34
$color-main: #61dafb
$font-main: 'Work Sans', sans-serif
$width-sm: 640px
$hover: all .2s ease-in-out

@mixin transition($property)
  -webkit-transition: $property
  -ms-transition: $property
  transition: $property

*
  margin: 0
  padding: 0
  box-sizing: border-box

html,body
  height: 100%

body
  background: $color-bg
  color: $color-main
  font-family: $font-main
  font-size: 16px
  text-align: center
  line-height: 1.4
  
main
  height: 100%
  display: inline-flex
  justify-content: center
  align-items: center
  flex-direction: column
  margin: 10% 0
  width: 400px
  
h1
  font-size: 2.5em
  font-weight: 500
  margin: 0 auto .5em
  
  @media screen and (max-width: $width-sm)
    font-size: 1.75em

h2
  margin-bottom: 1em
    
p
  font-weight: 300
  font-size: 1.25em
  
  &:first-of-type
    margin-bottom: .5em
  
hr
  width: 100%
  border: 0
  border-bottom: 1px dashed white
  margin-bottom: 2em

form
  width: 100%
  
ul
  padding: .5em 0
  font-weight: 300
  list-style: none
  text-align: left
  color: white
  border-top: 1px solid
  width: 100%
  
  li
    display: block
    margin-bottom: .5em
    padding: .5em
    border-bottom: 1px dashed rgba(white,.5)

    div
      display: inline-flex
      text-align: left
      
    label
      flex-basis: 100%
  
label
  display: block
  margin-bottom: .25em
  text-align: left
  
input, select, textarea
  display: block
  width: 100%
  margin-bottom: 1em
  border: none
  border-radius: 4px
  padding: 12px
  font-family: $font-main
  font-weight: 300
  font-size: 1em
  
  &[type="checkbox"]
    margin: -4px 8px 0 0
    width: 15px
  
button
  width: 100%
  background: $color-main
  color: $color-bg
  font-family: $font-main
  font-size: 1em
  margin: .5em auto 1.5em
  padding: .75em 1em
  border: none
  border-radius: 4px
  cursor: pointer
  @include transition($hover)
  
  
  &.btn-delete
    margin: -3px 0 0 10px
    padding: 0
    background: none
    color: rgba(white, .5)
    font-size: 1.7em
    font-weight: 300
    line-height: 1
    flex-basis: 10%

    &:hover
      color: rgba(201, 45, 45, 1)

